#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type="text"] {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
}

input:invalid {
  border: 2px;
  border-color: red;
}

.curCharName {
  background-color: orange;
}

.evalCard {
  background-color: black;
}

.evalHeader {
  background-color: blue;
}

.evalSection {
  display: flex;
  background-color: darkgreen;
  justify-content: space-around;
}

.instructionsButton {
  background: none;
  border: none;
  padding: 0;
  font-style: italic;
}

.instructionsButton:hover {
  text-decoration: underline;
}

.categoryContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.categoryCardContainer {
  display: flex;
  flex-flow: column nowrap;
}

.evaluationContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.textEvaluation {
  grid-column: 1 / 2;
  background-color: peru;
}

.graphEvaluation {
  grid-column: 2 / 4;
  background-color: pink;
  height: 100%;
}
