#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input[type="text"] {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
}

input:invalid {
  border: 2px;
  border-color: red;
}

h1 {
  text-transform: uppercase;
  background-color: #14143d;
  padding: 4px 0px 8px;
}

h4 {
  margin: 0px;
  text-transform: uppercase;
}

.charName {
  font-size: 1rem;
}

.nameField {
  margin-left: 10px;
  background-color: #404040;
}

.evalHeader {
  margin-top: 4px;
  padding-top: 6px;
  margin-bottom: 4px;
}

.evalSection {
  background-color: #28284e;
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
}

.instructionsButton {
  background: none;
  border: none;
  padding: 0;
  font-style: italic;
}

.instructionsButton:hover {
  text-decoration: underline;
}

.categoryContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 4px;
  margin-bottom: 20px;
}

.categoryCardContainer {
  display: flex;
  flex-flow: column nowrap;
  padding: 4px 2px;
  background-color: #14143d;
}

.categoryHeader {
  font-weight: bold;
}

.evaluationContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 20px;
  background-color: #14143d;
  padding: 0px 20px 20px 20px;
}

.textEvaluation {
  grid-column: 1 / 2;
}

.graphEvaluation {
  grid-column: 2 / 4;
  height: 99%;
}

.instructionsText {
  font-size: 1.1rem;
}
